<H1> Video Listings.</H1>
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="http://www.youtube.com/watch?v=T0NPYZyI7V8">
      <img class="media-object" src="http://upload.wikimedia.org/wikipedia/commons/a/ac/Necktie_Half-Windsor_knot.jpg" alt="..." width="64px" height = "64px">
    </a>
    <div class="media-body">
      <h4 class="media-heading">How to Tie a Tie</h4>
2:07 Rating: 5
    </div>
  </li>
  <li class="media">
    <a class="pull-left" href="http://www.youtube.com/watch?v=QB15CB7CVmo">
      <img class="media-object" src="http://www.boagworld.com/blogImages/WFFAccount-20090624-172907.jpg" alt="..." width="64px" height = "64px">
    </a>
    <div class="media-body">
      <h4 class="media-heading">How To Wireframe</h4>
2:06 Rating: 4
    </div>
  </li>
  <li class="media">
    <a class="pull-left" href="http://www.youtube.com/watch?v=DepG0r3JiV4">
      <img class="media-object" src="http://ddsra.org.uk/wp-content/uploads/DDSRA_SQUASH007.jpg" alt="..." width="64px" height = "64px">
    </a>
    <div class="media-body">
      <h4 class="media-heading">How To Play Squash</h4>
1:16 Rating: 5
    </div>
  </li>
</ul>

