<a href="/">Home</a>
<a href="/about">About</a>

<div class="jumbotron">
  <h1>Digital Innovation App</h1>
  <p>How To videos in under 1 minute.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/about">Learn more</a></p>
</div>